@page "/OrderConfirm/{OrderType:int}/{Days:int}"
@page "/OrderConfirm/{OrderType:int}/{ShowId}/{PosSelecition}"
@using cinima_mgr.Data
@using cinima_mgr.Service
@using Markdig.Helpers
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavigationManager
@inject StateCache StateCache

<h3>确认订单信息</h3>
@if ( OrderType == 0 )
{
    <div>
        <p> 订单号: @_order.Id </p>
        <p> 用户名: @StateCache.User.Name </p>
        <p> 电影名称: @show.Movie.Name </p>
        <p> 日期: @show.Time.ToString("MM月dd日") </p>
        @{ var _tempinfo = show.Time.ToString("hh:mm ~ ") + (show.Time + show.Movie.Duration).ToString("hh:mm"); }
        <p> 场次时间: @_tempinfo </p>
        <p> 房间: @show.Room.Name </p>
        <p> 购票数量: @_pos.Count().ToString() </p>

        @{
            _tempinfo = "";
            foreach (var i in _pos) _tempinfo += i + "、";
            if (_pos.Count() != 0) _tempinfo = _tempinfo.Substring(0, _tempinfo.Length - 1);
        }
        <p> 位置: @_tempinfo </p>
    </div><br/>
    
    <EditForm Model="model">
        <div>
            <InputSelect TValue="DiscountTicket" @bind-Value="">
                
                <option></option>
            </InputSelect>
        </div><br/>
    </EditForm>
}else if ( OrderType == 1 )
{
    <div>
        <p> 订单号: @_order.Id </p>
        <p> 用户名: @StateCache.User.Name </p>
        <p> 购买时长: @Days 天 </p>
        @* todo: 购买会员价格  *@
        <p> 支付金额: ？元 </p>
    </div>
}

<div>
    <button @onclick="Payment" > 立即付款 </button>
</div>

@* <Allipay Enable="ToPay" OrderId="@_order.Id" /> *@

@code {
    [Parameter]
    public int OrderType { get; set; }
    [Parameter]
    public int Days { get; set; }
    [Parameter]
    public string ShowId { get; set; }
    [Parameter]
    public string PosSelecition { get; set; }

    Order _order = new()
    {
        Id = Guid.NewGuid().ToString(),
    };

    public List<string> _pos = new List<string>();

    public Show show;

    public string _info;
    public bool ToPay = false;
    
    public inputmodel model = new inputmodel();
    
    public class inputmodel
    {
        
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (StateCache.User is null)
        {
            NavigationManager.NavigateTo("/Login");
            return;
        }

        _order.User = StateCache.User;
        _order.Type = OrderType;
        _order.State = 0;
        
        if (OrderType == 0)
        {
            await using var db = new MgrContext();
            show = (await db.Shows.Where(t => t.Id == ShowId).Include(t => t.Room).Include(t => t.Movie).ToListAsync()).ToList().First();
            int cnt = 0;
            foreach (var i in PosSelecition.ToCharArray())
            {
                if (i == '3')
                {
                    db.Tickets.Add(
                        new()
                        {
                            Id = Guid.NewGuid().ToString(),
                            Order = _order,
                            Show = show,
                            // todo: 更改票状态
                            Status = 0,
                            Row = show.Room.Height,
                            Column = show.Room.Width
                        }) ;
                    _pos.Add($"{cnt / show.Room.Width + 1}排{cnt % show.Room.Width + 1}座");
                }
                cnt++;
            }
        }else if (OrderType == 1)
        {
            _order.Days = Days;
            _order.Price = 30.0;
        }

    }

    async Task Payment()
    {
        await using var db = new MgrContext();
        _order.CreateTime = DateTime.Now;
        db.Orders.Add(_order);
        ToPay = true;
    // NavigationManager.NavigateTo($"//{}");NavigationManager.NavigateTo($"//{}");
    }
}