@page "/PrintTicket/{Id:guid}"
@layout EmptyLayout
@using Blazorise.QRCode

<div class="container-center">
    @if (_ticket is null)
    {
        <PageTitle>喵票票</PageTitle>
        <h1>@_msg</h1>
        <Progress Animated Striped Value="100"></Progress>
    }
    else
    {
        <PageTitle>电影票: @_ticket.Show.Movie.Name</PageTitle>
        <h2>
            <b>@_ticket.Show.Movie.Name</b>
            <small class="text-secondary">
                (@_ticket.Show.Movie.ReleaseDate.ToString("yyyy-MM"))
            </small>
        </h2>
        <h5>
            @_ticket.Show.Time.ToString("yyyy-MM-dd HH:mm") ~ 
            @((_ticket.Show.Time + _ticket.Show.Movie.Duration).ToString("HH:mm"))
        </h5>
        <h1>@_ticket.Show.Room.Name @(_ticket.Row + 1) 排 @(_ticket.Column + 1) 座</h1>
        <h6><small class="text-secondary">@_ticket.Id</small></h6>
        <div style="display: flex; align-items: center; justify-content: center; height: 300px; width: 300px; overflow: hidden">
            <QRCode Value="@_ticket.Id"/>
        </div>
    }
</div>

@code {
    [Parameter]
    public Guid Id { get; set; }

    string _msg = "🛫 加载中...";
    Ticket? _ticket;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await using var _db = new MgrContext();
        var ticket = await _db.Tickets
            .Include(t => t.Show)
            .SingleOrDefaultAsync(t => t.Id == Id.ToString());
        await _db.Entry(ticket.Show).Reference(s => s.Room).LoadAsync();
        await _db.Entry(ticket.Show).Reference(s => s.Movie).LoadAsync();
        if (ticket.Status != 1)
        {
            _msg = "无效票";
            return;
        }
        _ticket = ticket;
    }

}